# python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Entorno Virtual
venv/

# Configuracion de editores
.idea/
.vscode/

# Archivo de sistema

.DS_Store
Thumbs.db

# Bases de datos embebidas
*.sqLite3
*.db
db.sqlite3
.env

