{% extends "core/base.html" %}
{% load static %}
{% block title%}Login - {{ block.super }}{% endblock %}
{% block content %}

    <main>
        <section id="login" class="seccion">
            <h2 class="titulo-seccion">Iniciar Sesión</h2>
            <p>Accede a tu cuenta para realizar pedidos y gestionar tus reservas.</p>
            
            <div class="formulario-contenedor">
                <form action="#" method="post">
                    {% csrf_token %}
                    <div class="grupo-formulario">
                        <label for="{{ form.username.id_for_label }}"> nombre de usuario:</label>
                        {{ form.username }}
                    </div>


                    
                    <div class="grupo-formulario">
                        <label for="{{ form.password.id_for_label }}">Contraseña</label>
                        {{ form.password }}
                    </div> 

                                {% if "usuario" in error|lower or "username" in error|lower %}

                                    <p style="color: red;">El usuario no existe.</p>
                                {% else %}
                                    <p style="color: red;">{{ error }}</p>
                                {% endif %}
                        

                            
    
                    <button type="submit" class="boton" style="width:100%; padding:12px;">INICIAR SESIÓN</button>
                </form>

                <div class="enlace-formulario">
                    <p>¿No tienes una cuenta? <a href="{% url 'registro' %}">Regístrate aquí</a>
                    </p>
                </div>
            </div>
        </section>
    </main>
    {% endblock  %}