{% extends "core/base.html" %}
{% load static %}
{% block title%}Registro del producto - {{ block.super }}{% endblock %}
{% block content %}
    <main>
        <section id="registro" class="seccion">
            <h2 class="titulo-seccion">Crea un producto</h2>
            <p>ingresa un producto.</p>
            
            <div class="formulario-contenedor">
                <form action="{% url 'registro_de_producto' %}" method="post" enctype="multipart/form-data">
                    {%  csrf_token  %}

                    <div class="grupo-formulario">
                        <label for="nombre">Nombre del plato</label>
                        <input type="text" id="nombre" name="name" required placeholder="Ej: arepa">
                    </div>


                    <div class="grupo-formulario">
                        <label for="correo">precio</label>
                        <input type="number" id="precio" name="price" required placeholder="12.500">
                    </div>
                    

                    <label for="category">categoria</label>
                        <select name="category" id="category">
                            <option value=""> Seleccione una categoria </option>
                            {% for category_obj in categories %}
                                <option value="{{ category_obj.id }}" {% if category_obj.id == category_id|add:"0" %}
                                selected{% endif %}>{{ category_obj.name }}<option>
                            {% endfor %}
                        </select>


                        <div class="formulario-contenedor">
                    <div class="grupo-formulario">
                        <label for="nombre">description</label>
                        <input type="text" id="descripcion" name="description" required placeholder="Ej: jamon y queso">
                    </div>

                    <div class= "formulario-contenedor">
                        <label for="image" >subir imagen del producto</label>
                        <input type="file" id="image" name="image" accept="image/*">
                    </div>
                    <button type="submit" class="boton" style="width:100%; padding:12px;">agregar</button>
                </form>

                </div>
            </div>
        </section>
    </main>
{% endblock content %}