{% load static %}

    <!-- Plato 1 -->
        <div class="tarjeta-plato">
            <div class="imagen-plato-catalogo">
            {% if p.imagen %}
                <img src="{{ p.imagen.url }}" alt="imagen de {{ p.name }}">

            {% else %}
            
                <p> Image no disponible.</p>
            
            {% endif %}
            
            </div>
            <div class="info-plato">
                <h3>{{p.name}}</h3>
                <p>{{p.description}}</p>
            </div>
            <div class="precio">
                {{p.price}} cop
            </div>
            {% if user.is_authenticated and user.is_staff %}
            <a href="{% url 'product_update' id=p.id %}" type="submit" class="boton" style="width:35%; padding:4px;">actualizar</a>
            <a type="submit" class="boton" style="width:35%; padding:4px"; href="{% url 'product_delete' id=p.id %}">elminar</a>
            {% else %}
            <a  href="{% url 'product_detail' id=p.id %}" type="submit" class="boton" style="width:35%; padding:2px">mostrar</a>
            <a href="{% url 'pedido' id=p.id %}" type="submit" class="boton" style="width:35%; padding:2px;">Comprar</a>
            {% endif %}
            


            

        </div>
